<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="../js/javascript.js"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="homepage">
        <!-- navbar html code -->
        <div class="navbars flex-around">
            <a class="logos" href="../index.html">LOGO</a>
            <ul class="nav_items responsive-before">
                <a class="nav_item" href="../index.html">Home</a>
                <a class="nav_item" href="about.html">About</a>
                <a class="nav_item" href="profile.html">Profile</a>
                <a class="nav_item" href="login.html">Login</a>
                <a class="nav_item nav_item_active" href="">Signup</a>
            </ul>
            <div class="ham_btn flex-between flex-column responsive-after" onclick="hamb_toggle()">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="Social_icons flex-center">
                <a href=""><img src="../img/Social_icon_in.png" /></a>
                <a href=""><img src="../img/Social_icon_4.png" /></a>
                <a href=""><img src="../img/Social_icon_y.png" /></a>
            </div>
            <ul class="nav_items_after flex-between flex-column responsive-after">
                <a class="nav_item" href="../index.html">Home</a>
                <a class="nav_item" href="about.html">About</a>
                <a class="nav_item" href="profile.html">Profile</a>
                <a class="nav_item" href="login.html">Login</a>
                <a class="nav_item" href="">Signup</a>
            </ul>
        </div>
        <!-- navbar html code -->
    </div>
</body>

</html>