body {
    margin: 0;
    background-color: #fff;
}
a {
    text-decoration: none !important;
}
.responsive-before a {
    color: #fff;
    border: solid 2px rgba(0, 0, 0, 0);
}

ul {
    padding: 0;
    margin: 0;
}

.flex-around {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 50px;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsive-after {
    display: none;
}

.flex-column {
    flex-direction: column;
}


/* nav-bar css code */
.main-page {
    margin-top: 90px;
    margin-bottom: 50px;
}
.navbars {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    height: 80px;
    background-color: #E03B4F;
}
.admin-navbars {
    height: 80px;
    background-color: rgba(220,220,220, 0.5);
    border-bottom: 1px solid #C0C0C0;   
}

.responsive-after {
    margin-left: -50px;
    cursor: pointer;
}
.logos {
    font-size: 40px;
    font-family: cursive;
    font-weight: bold;
    color: #000b79;
}

.nav_item {
    padding: 9px 13px;
    border-radius: 20px;
    margin: 0 20px;
    font-family: sans-serif;
}

.nav_items .nav_item:hover {
    border: solid 2px #ffc737;
    transition: 0.3s;
}

.nav_items_after {
    position: absolute;
    top: 72px;
    width: 100%;
    height: 0%;
    opacity: 0;
    overflow: hidden;
    padding-bottom: 0px;
    transition: 0.5s;
    z-index: 10000;
}

.nav_items_after_t1 {
    padding-top: 20px;
    position: absolute;
    top: 72px;
    width: 100%;
    opacity: 1;
    height: auto;
    padding-bottom: 20px;
    background-color: #f1f0ff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: -2px;
}

.nav_items_after a {
    margin: 15px 0px 15px 0px;
    padding: 9px 13px;
    border-radius: 0px;
    width: 80%;
    border: none;
    border-left: solid 2px #E03B4F;
    border-right: solid 2px #E03B4F;
    border-bottom: solid 2px #E03B4F;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.ham_btn {
    width: 25px;
    height: 25px;
}

.ham_btn>div {
    width: 25px;
    height: 5px;
    background-color: #fff;
    border-radius: 5px;
}

.Social_icons a {
    margin-left: 10px;
    padding: 8px;
    border-radius: 50%;
    color: white;
    background-color: #782bd5;
    border: solid 2px #6829b3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Social_icons img {
    width: 15px;
}

.Social_icons a:first-child {
    margin-left: 0px;
}

.nav_item_active {
    border: solid 2px #ffc737;
}

@media only screen and (max-width: 800px) {
    .navbars {
        height: 80px;
    }
}

@media only screen and (max-width: 800px) {
    .responsive-before {
        display: none;
    }
    .responsive-after {
        display: flex;
    }
}
#page-content {
    padding: 0px 20px 0px 20px;
}
.blog-card {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  box-shadow: 2px 9px 7px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
}
.blog-card .blog-title {
    font-size: 20px;
    font-weight: 700;
}
.blog-card a {
  color: inherit;
}
.blog-card a:hover {
  color: #5ad67d;
}
.blog-card:hover .photo {
  transform: scale(1.2) rotate(1.5deg);
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s;
}
.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.blog-card .details a {
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
}
.blog-card .details ul li {
  display: inline-block;
}
.blog-card .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "";
}
.blog-card .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "♡"
}
.blog-card .details .tags ul:before {
  font-family: FontAwesome;
  content: "";
  margin-right: 10px;
}
.blog-card .details .tags li {
  margin-right: 2px;
}
.blog-card .details .tags li:first-child {
  margin-left: -4px;
}
.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}
.blog-card .description .read-more a:after {
  content: "";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}
.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 100px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card:hover .details {
  left: 0%;
}
.blog-card .blog-from {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 20px;
}
.blog-card .blog-from .blog-favicon {
    width: 30px;
    height: 30px;
}
@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 1000px;
    min-height: 225px;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.alt {
    flex-direction: row-reverse;
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }
}
* {
  box-sizing: border-box;
}